<section class="extra__section">
  <h2 class="extra__section1">Section special</h2>
  <!-- <div class="extra__section2"> -->
  <p class="extra__section2--p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto a
    aperiam, autem temporibus quae, modi possimus sapiente inventore cum ipsa
    expedita labore accusamus quidem obcaecati molestias velit odit nisi
    explicabo?
  </p>
  <p class="extra__section2--p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto a
    aperiam, autem temporibus quae, modi possimus sapiente inventore cum ipsa
    expedita labore accusamus quidem obcaecati molestias velit odit nisi
    explicabo?
  </p>
  <!-- </div> -->
</section>
